<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903076454264-1tlajt4h0t9neppef2al4pt27fle33tr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903076454264-1tlajt4h0t9neppef2al4pt27fle33tr</string>
	<key>API_KEY</key>
	<string>AIzaSyAmSqEY_B5z6OQGJSFp0jDC0kGIxmcM9eM</string>
	<key>GCM_SENDER_ID</key>
	<string>903076454264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.samguyette.LeafLabel</string>
	<key>PROJECT_ID</key>
	<string>leaflabel</string>
	<key>STORAGE_BUCKET</key>
	<string>leaflabel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903076454264:ios:0bee5db056a8dff3acf28d</string>
	<key>DATABASE_URL</key>
	<string>https://leaflabel.firebaseio.com</string>
</dict>
</plist>